# coding: utf-8
%h2 Отделения банка по регионам
.content
  %table.data
    %tr
      %th ID
      %th Код
      %th Название
      %th Родитель
    - for b in @branches
      %tr
        %td= b.id
        %td= b.code
        %td= b.name
        - if b.division_parent
          %td= b.division_parent.name
%br	
-#.actions
  -#= link_to 'Добавить', :action => 'new'         