-@title = "Профиль"
%h2 Пользователь #{@current_user.login}
%table
  %tr
    %th Login:
    %td=h @current_user.login
  %tr
    %th Email:
    %td=h @current_user.email
  %tr
    %th Role:
    %td= @current_user.role.name