%h1  
  Пользователь 
  =h @current_user.login

%table.card
  %tr
    %th
      Login:
    %td
      =h @current_user.login
  %tr
    %th
      Email:
    %td
      =h @current_user.email
  %tr
    %th
      Role:
    %td
      = @current_user.role.name

.actions
  -#= link_to "Edit", :action => 'edit'
  -#= link_to "Change password", edit_password_path

