# coding: utf-8
%h1 Данные о подразделении 

.content
  %table.data
    %tr
      %th Идентификатор:
      %td= @department.id_division
    %tr
      %th Код:
      %td= @department.code_division
    %tr
      %th Название:
      %td= @full_name
      