# coding: utf-8
%h1 Данные о подразделении 

.content
  %table.data
    %tr
      %th Идентификатор:
      %td= @department.id_division
    %tr
      %th Название:
      %td= @department.division.to_utf
    %tr
      %th Код:
      %td= @department.code_division
    - if @department.parent_id
      %tr 
        %th Вышестоящее подразделение
        %td= @maindivision.division.to_utf
      