%h1 User list

.content
  %table.data
    %tr
      %th Login
      %th Email
      %th
    - for user in @users
      %tr
        %td= link_to h(user.login), :action => 'show', :id => user.id
        %td=h user.email
        %td= link_to 'Delete', :action => 'destroy_user', :id => user.id
  %br
  .actions
    = link_to 'Add', :action => 'new'
    %br
    = link_to 'Audit', :controller => 'audits'
  
