# coding: utf-8
-@title = "Отделения ОДБ"
%h2 Отделения 
.content
  %table.data
    %tr
      %th ID
      %th Код
      %th Название
    - for d in @divisions
      %tr
        %td= d.id
        %td= d.code
        %td= d.name
%br	
-#.actions
  -#= link_to 'Добавить', :action => 'new'         