# coding: utf-8
%h2 Выберите менеджера 

.content
  - form_for :master, :url => {:action => "show_workers_by_master"}, :html => {:method => "get"} do 
    %table
      %tr
        %th Сотрудник:
        %td= select :master, "master_id", Worker.find_by_sql(" select e.id_emp id, e.lastname lastname, e.firstname firstname, e.soname soname, p.division parent from emp2doc e join div2doc d on d.id_division = e.id_division join div2doc p on p.id_division = d.parent_id where e.id_division = 56922 or e.code_division like '%8000' order by p.code_division").collect {|d| [ d.parent.to_utf+' - '+d.lastname.to_utf+' '+d.firstname.to_utf+' '+d.soname.to_utf, d.id ] }
    %br    
    = submit_tag "Показать прикрепленных"
