# coding: utf-8
%h1 #{@performance.kpi}

.content
  = form_for :report, :url => { :action => "calc_kpi" }, :html => {:method => "get"} do 
    %table
      -# for p in @plans
        -#%tr
          -#%th= "План:"
          -#%td= p.plan
          